<b> Recipe form </b>

<%= form_for @recipe do |f| %>
  <%= f.label :recipe %>
  <textarea>Title: <%= f.text_field :title %></textarea>

 <h2> Ingredients </h2>
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= ingredient.label :name %>
    <%= ingredient.text_field :name %> <br>
    <%= ingredient.label :quantity %>
    <%= ingredient.text_field :quantity %> <br>
  <% end %>

    <%= link_to 'add ingredient', @recipe %>
    <%=f.submit %>
<% end %>
